- popover_title = s_("ExperimentBadge|What's an Experiment?")
- popover_content = capture do
  %p
    = s_("ExperimentBadge|An Experiment is a feature that's in the process of being developed. It's not production-ready. We encourage users to try Experimental features and provide feedback.")
  %p.gl-mb-0
    = s_("ExperimentBadge|An Experiment:")

  %ul.gl-pl-4
    %li
      = s_("ExperimentBadge|May be unstable.")
    %li
      = s_("ExperimentBadge|Can cause data loss.")
    %li
      = s_("ExperimentBadge|Has no support and might not be documented.")
    %li
      = s_("ExperimentBadge|Can be removed at any time.")

- popover_data = { container: 'body', toggle: 'popover', placement: "top", html: 'true', triggers: 'hover focus', title: popover_title, content: popover_content }

%div{ class: style }
  = gl_badge_tag(_('Experiment'), variant: :neutral, size: :sm, href: '#', data: popover_data)
