- root_namespace = resource.root_ancestor
- return unless show_duo_pro_trial_alert?(root_namespace)

- content_for :page_level_alert do
  %div{ class: [container_class, @content_class, 'gl-pt-5!'], data: { track_action: 'render', track_label: 'duo_pro_trial_alert' } }
    = render Pajamas::BannerComponent.new(close_options: { class: 'js-close-callout',
        data: { testid: 'hide-duo-pro-trial-alert' },
        'aria-label' => s_('DuoProTrialAlert|Dismiss Code Suggestions banner') },
      banner_options: { class: 'js-duo-pro-trial-alert',
        data: { feature_id: ::EE::Users::CalloutsHelper::DUO_PRO_TRIAL_ALERT,
          defer_links: 'true',
          dismiss_endpoint: callouts_path,
          testid: 'duo-pro-trial-alert' } }) do |c|
      - c.with_illustration do
        = image_tag image_path('illustrations/tanuki-ai-md.svg'), alt: 'Tanuki AI Logo', class: 'gl-p-3 gl-rounded-lg bg-duo-pro rounded-bottom-right-9'
      - c.with_title do
        = s_('DuoProTrialAlert|Try GitLab Duo Pro for free')
      - c.with_primary_action do
        = render Pajamas::ButtonComponent.new(href: new_trials_duo_pro_path(namespace_id: root_namespace.id), variant: :confirm, button_options: { class: 'gl-mr-3' }) do
          = s_('DuoProTrialAlert|Start trial now')

        = render Pajamas::ButtonComponent.new(href: help_page_path('user/ai_features'), target: "_blank") do
          = s_('DuoProTrialAlert|Learn more about GitLab Duo Pro')

      %p= s_('DuoProTrialAlert|You can now try GitLab Duo Pro for free for 30 days, no credit card required. Code Suggestions, GitLab Duo Chat (Beta), and other AI features are part of the GitLab Duo Pro add-on, which is designed to help give you a productivity boost across the software development life cycle.')
