.gl-m-7.gl-text-white
  .gl-display-flex.gl-align-items-center.gl-gap-5
    = sprite_icon('upgrade', size: 24)
    %span
      = s_('DuoProTrial|Accelerate coding')
  .gl-display-flex.gl-align-items-center.gl-gap-5.gl-pt-6
    = sprite_icon('shield', size: 24)
    %span
      = s_('DuoProTrial|Keep your Source Code protected')
  .gl-display-flex.gl-align-items-center.gl-gap-5.gl-pt-6
    = sprite_icon('code', size: 24)
    %span
      = s_('DuoProTrial|Billions of lines of code at your fingertips')
  .gl-display-flex.gl-align-items-center.gl-gap-5.gl-pt-6
    = sprite_icon('earth', size: 24)
    %span
      = s_('DuoProTrial|Support in your language of choice')
