.gl-mt-3.container-fluid{ class: content_class }
  = render Pajamas::AlertComponent.new(title: title,
    variant: :danger,
    dismissible: false,
    alert_options: { data: { testid: 'seat-overage-alert' } }) do |c|
    - c.with_body do
      = body
    - if owner?
      - c.with_actions do
        = render Pajamas::ButtonComponent.new(variant: :confirm, size: :medium,
          href: group_usage_quotas_path(root_namespace, anchor: 'seats-quota-tab'),
          button_options: { class: 'gl-alert-action' }) do
          = _('Manage members')
        = render Pajamas::ButtonComponent.new(size: :medium,
          href: ::Gitlab::Routing.url_helpers.subscription_portal_add_extra_seats_url(root_namespace.id),
          button_options: { class: 'gl-alert-action' }) do
          = _('Purchase more seats')
